.navbar-toggler:focus, .navbar-toggler:hover {
    outline: 0 auto;
}

.solid {
/* background-image: linear-gradient(315deg, #254069 0%, #0d2341 50%, #254069 100%);*/
  background-color: #264069;
  transition: background-color 1s ease 0s;
}


@media (max-width: 987px) {
nav {   background-color: #264069;}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
#dark {float:right;}  
#menu{left:0px;}
nav {border-radius: 0px;    padding: 18px 0px 0px 20px !important; }
}

nav {
    border-radius: 0px;
    /* background-image: linear-gradient(315deg, #2b518430 0%, #0d2341 50%, #2b518459 100%); */
    /* box-shadow: 5px 5px 5pc black; */
    /* border: 1px solid #c0c0c04d; */
    /* background-image: linear-gradient(315deg, #254069 20%,#25406900 35%, #0d23418a 50%, #25406900 100%); */
    background-color: cccccc;
    padding: 10px;
    transition: background-color 1s ease 0s;
    /* -webkit-text-stroke: 1px #90acce85; */
    margin: 0;
    line-height: 1.42857143;
    font-size: 33px;
    font-weight: 400;
    margin: -11px 0 -18px 0;
    font-size: 25px;
    color: #f8f9fa!important;
    pointer-events: all;
    /* position: fixed !important; */
    top: 0px;
    z-index: 15;
}

.navspacer{
  display:none;
  color:white !important;
  padding: 4px 12px 0 12px;
  }
